.contact {
    margin-bottom: 100px;
    h1 {
        font-size: 50px;
        font-weight: 700;
        color: $seconderyColor;
        margin: 100px 0 20px;
    }
    p {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
        width: 100%;
        max-width: 600px;
    }
    iframe {
        height: 300px;
        border-radius: 4px;
        box-shadow: 0 0 5px lighten($darkColor, 60%);
        width: 100%;
        max-width: 600px;
    }
    form {
        margin-top: 100px;
        input, textarea {
            width: 100%;
            padding: 14px 20px;
            border: none;
            box-shadow: 0 0 5px lighten($darkColor, 60%);
            margin-bottom: 20px;
            border-radius: 4px;
            background: lighten($seconderyColor, 80%);
            resize: none;
        }
        button {
            width: 100%;
            padding: 18px 20px;
            border: none;
            box-shadow: 0 0 5px lighten($darkColor, 60%);
            border-radius: 4px;
            background: $primaryColor;
            color: $lightColor;
            font-size: 20px;
            font-weight: 500;
            transition: 0.3s;
            &:hover {
                background: $seconderyColor;
            }
        }
    }
}